.header{
    width: 100vw;
    min-height: 6rem;
    background: #232A34;
    color: #fff;;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 5%;
    z-index: 10;
    position:fixed;
}

.logo_header{
    height: 3rem;
}
.logo_mobile_header{
    display: none;
}

.header_searchbar{
    opacity: 1 !important;
    width: 60%;
}

.headear_about{
    background: #12a76e;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
}


@media only screen and (max-width: 700px)  {
    .logo_mobile_header{
        display: block;
        height: 2rem;
    }
    .logo_header{
        display: none;
    }
    .headear_about{
        display: none;
    }
    .header_searchbar{
        width: auto;
        padding: 0.5rem 1rem !important;
    }
}