.searchbar{
    /*z-index: 12;*/
    background: #fff;
    padding: 0.7rem 2rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: 1s;
}
.search_btn{
    height: 1.7rem;
}

.input_searchbar{
    outline: none;
    border:none;
    font-size: 1.2rem;
}
